.Navbar {
	background-color: hsla(0, 0%, 10%, 0.5);
	backdrop-filter: blur(5px);
	/* For some browsers, also include this */
	-webkit-backdrop-filter: blur(5px);
	box-shadow: 0px 2px 10px black;
	border: 1.5px solid hsl(0, 0%, 30%);
	border-top: 1.5px solid hsl(0, 0%, 60%);
	border-bottom: 1.5px solid hsl(0, 0%, 45%);
	width: fit-content;
	border-radius: 72px;
	padding: 2px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;

	position: fixed;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
}

.Navbar a {
	padding: 4px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.Navbar a img {
	height: 30px;
	width: 30px;
}
