.RegisterForm {
	background-color: hsl(0, 0%, 10%);
	border-radius: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	width: 320px;
	padding: 20px;

	color: hsl(0, 0%, 5%);
}

.RegisterForm > input {
	background-color: hsl(0, 0%, 20%);
    border: none;
	border-radius: 10px;
    padding: 5px;
    width: 250px;
    min-height: 30px;
    text-align: center;
    font-size: 28px;
	color: hsl(0, 0%, 70%);
}

.RegisterForm > button {
	background-color: hsl(0, 90%, 30%);
	border: 1.5px solid hsl(0, 90%, 30%);
	border-top: 1.5px solid hsl(0, 90%, 60%);
	border-radius: 10px;
    padding: 5px;
    width: 250px;
    min-height: 30px;
    font-size: 30px;
    font-weight: 700;
	color: hsl(0, 0%, 95%);
}
