.Watch {
	background-color: hsl(0, 0%, 20%);
	border-radius: 30px;
	border: 1.5px solid hsl(0, 0%, 30%);
}

.Watch > img {
	background-color: hsl(0, 0%, 95%);
	width: 100%;
	height: auto;
	display: block;
	border-radius: 30px;
}

.Watch-brand {
	color: hsl(0, 0%, 70%);
	text-align: center;
}

.Watch-name {
	color: hsl(0, 0%, 95%);
	text-align: center;
}

.Watch-price {
	color: hsl(0, 0%, 70%);
	text-align: center;
}
