.AboutPage-h5 {
	font-size: 50px;
	text-align: right;
	padding: 20px;
	font-weight: 700;
}

.AboutPage-img {
	max-width: 100vw;
	border-radius: 20px;
}

.AboutPage-p {
    padding: 10px;
    font-size: 18px;

}
