.AboutPage-h5 {
	font-size: 50px;
	text-align: right;
	margin: 30px;
	font-weight: 700;
}

.AboutPage-img {
	width: 100%;
    height: auto;
    display: block;
	border-radius: 20px;
}

.AboutPage-p {
	background-color: hsla(0, 0%, 10%);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: 18px;

}
