/*
    -- dark mode --
    backgrounds:         0?
    background panels:   5?
    elements:           10?
    buttons:            20?
*/

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: "Lexend", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	color: hsl(0, 0%, 95%);
	transition: all 0.2s ease-out;
}
html,
body,
#root,
.App {
	background-color: hsl(0, 0%, 0%);
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family:
		source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
